APP_NAME=goxpress
APP_ENV=development
APP_DEBUG=true
APP_HOST=127.0.0.1
APP_PORT=8080

JWT_SECRET_KEY=GENERATE_256BITS_HMAC_ALGO_HS256
JWT_EXPIRE_MINUTES=10080

DB_URL=postgresql://username:password@host:port/db?sslmode=require