<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoXpress</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-950 min-h-screen flex items-center justify-center text-slate-300 antialiased">
    <div class="text-center">
        <h1 class="text-6xl md:text-7xl font-bold tracking-tight select-none mb-4 bg-gradient-to-r from-[#ea00ff] to-[#0088ff] bg-clip-text text-transparent">
            GoXpress
        </h1>

        <div class="flex flex-col gap-3">
            <div class="space-x-2 font-medium">
                <a class="hover:text-white transition-colors" href="https://echo.labstack.com/" target="_blank">Echo</a>
                <span class="text-slate-700">•</span>
                <a class="hover:text-white transition-colors" href="https://gorm.io/docs/index.html" target="_blank">Gorm</a>
                <span class="text-slate-700">•</span>
                <a class="hover:text-white transition-colors" href="https://github.com/air-verse/air" target="_blank">Air</a>
                <span class="text-slate-700">•</span>
                <a class="hover:text-white transition-colors" href="/docs/index.html">Docs</a>
                <span class="text-slate-700">•</span>
                <a class="hover:text-white transition-colors" href="https://github.com/xncs120/goxpress" target="_blank">Github</a>
            </div>
        </div>
    </div>
</body>
</html>
