<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoXpress</title>
    <link rel="stylesheet" href="/statics/css/bootstrap533.css">
    <link rel="stylesheet" href="/statics/css/styles.css">
</head>

<body class="full-view-body">
    <div>
        <span class="main-logo">GoXpress</span>
        <div class="reference-container">
            <a class="reference-link" href="https://echo.labstack.com/" target="_blank">Echo</a>&#8226;
            <a class="reference-link" href="https://pressly.github.io/goose/" target="_blank">Goose</a>&#8226;
            <a class="reference-link" href="https://gorm.io/docs/index.html" target="_blank">Gorm</a>&#8226;
            <a class="reference-link" href="https://github.com/air-verse/air" target="_blank">Air</a>
        </div>
        <div class="reference-container">
            <a class="reference-link" href="/register">Register</a>&#8226;
            <a class="reference-link" href="/docs">Docs</a>&#8226;
            <a class="reference-link" href="https://github.com/xncs120" target="_blank">Github</a>
        </div>
    </div>
</body>
</html>
